<?xml version="1.0"?>
<ArrayOfConfigElement xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <ConfigElement>
    <Key>NetworkName</Key>
    <Value>MyNetworkName</Value>
  </ConfigElement>
  <ConfigElement>
    <Key>NetworkPass</Key>
    <Value>myp1a2s3s4w5o6r7d8</Value>
  </ConfigElement>
  <ConfigElement>
    <Key>NetworkPassShown</Key>
    <Value>True</Value>
  </ConfigElement>
  <ConfigElement>
    <Key>MaxPeersNum</Key>
    <Value>5</Value>
  </ConfigElement>
  <ConfigElement>
    <Key>ShowDebugWindow</Key>
    <Value>True</Value>
  </ConfigElement>
  <ConfigElement>
    <Key>CheckUpdateAtStart</Key>
    <Value>true</Value>
  </ConfigElement>
  <ConfigElement>
    <Key>AnimateTrayIcon</Key>
    <Value>True</Value>
  </ConfigElement>
  <ConfigElement>
    <Key>LastUsedConnection</Key>
    <Value />
  </ConfigElement>
  <ConfigElement>
    <Key>StartMinimized</Key>
    <Value>false</Value>
  </ConfigElement>
</ArrayOfConfigElement>